<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Education</h2>
    <p>I've learned 'Discrete mathematice', 'Computer Science Theory', 'Data Structure', 'Probability and Statistics'</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
   <p>My main development languages are Java and C, but I have worked with C++</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <p>Git, OpenGL, Unity, HTML</p>
  </div>
</div>
